/* Import font Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif; /* Mise à jour de la police */
    background-color: #F4EDE4;
    color: #4A3E3E;
    background-image: url('images/Bannière Lyon.png');
    background-size: cover;
    background-position: center;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    width: 100px; /* Usual small logo size */
}

.menu {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.menu a {
    margin: 0 20px;
    text-decoration: none;
    color: #4A3E3E;
    font-weight: 600;
    font-size: 18px;
}

.menu a:hover {
    color: #AF8A59;
}

.language-switcher {
    display: flex;
}

.language-switcher button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    color: #4A3E3E;
}

.language-switcher button:hover {
    color: #AF8A59;
}

/* Banner Section */
.banner {
    text-align: center;
    padding: 150px 20px;
    color: black;
    position: relative;
}

.banner h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.date-picker {
    margin-top: 20px;
}

.date-picker input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif; 
}

/* Photos Section */
.photos-section {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    margin: 20px 0; 
}
.photos-section .photo img {
    width: 100%;
    max-width: 300px; 
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Recommendations Section */
.recommendations {
    padding: 40px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px 0; /* Espace entre les sections */
    text-align: center;
}

.recommendations h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #4A3E3E;
}

.recommendation-item {
    display: inline-block; /* Aligne les éléments sur une ligne */
    width: 30%; /* Ajustez cette valeur si nécessaire */
    box-sizing: border-box;
    padding: 10px;
    vertical-align: top;
}

.recommendation-img {
    width: 100%;
    max-width: 250px; /* Ajustez cette valeur si nécessaire */
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.recommendation-item h3 {
    font-size: 24px;
    color: #AF8A59;
}

.recommendation-item p {
    font-size: 16px;
    color: #4A3E3E;
    max-width: 250px; /* Ajustez cette valeur si nécessaire */
}

/* Footer */
footer {
    background-color: #F4EDE4;
    text-align: center;
    padding: 20px 0;
    color: #4A3E3E;
}
